@import "bootstrap/scss/bootstrap";
@import "variables";
@import "header";
@import "mobile";


.wrapper {
    display: block;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

.logo_img{
  max-width: 100%;
}

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}
